mule-json-xml-conversion/src/main/mule/mule-json-xml-conversion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0ca1726d-53f9-4b05-ab08-6a07e7725149" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-json-xml-conversionFlow" doc:id="2fffb616-f4b4-494e-94f2-4ce804f76fd0" >
		<http:listener doc:name="Listener" doc:id="b36bb5b5-a6aa-4904-aa78-d1f3a2ced22a" config-ref="HTTP_Listener_config" path="Get-Employee" outputMimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="742e495a-466a-4f41-94b9-d47c4402ab07" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="a38ddff8-3238-42be-a0b2-b3746470e0a3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
employee:
employess : payload.employess map (item, index) ->
{
	id : item.idno,
	fullName : item.firstname ++ " " ++ item.lastname

} 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
