mule-csv-db-sample/src/main/mule/mule-csv-db-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="mule-csv-db-sampleFlow" doc:id="de99db57-850a-4de7-9a21-9f500138a666" >
		<file:listener doc:id="bcd3a8ca-3a32-43a9-8a8f-5f89804f9551" doc:name="">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="86d96751-6047-41e8-857a-b4aeb902e788" message="#[payload]"/>
		<db:insert doc:id="d2d71f61-6618-4d3b-a89e-6fb2703d21be" doc:name=""/>
		<logger level="INFO" doc:name="Logger" doc:id="f73322af-9409-472d-b0fc-c510e6499b13" />
	</flow>
</mule>
